/* Global reset to remove default margin/padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling the body to cover the full height of the screen */
body {
  font-family: Arial, sans-serif;
  height: 100%;
}

/* Ensuring the app container takes full height */
html, body, #root {
  height: 100%;
}

.dark {
  background-color: #121212;
  color: white;
}

.light {
  background-color: #f0f0f0;
  color: black;
}

