.skillsSection {
  padding: 8rem 1rem 5rem;
  background-color: var(--dark-bg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  color: #00AEAE;
  margin-bottom: 5rem;
  position: relative;
}

.title::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 2px;
  background-color: #00AEAE;
}

/* Updated skills grid to use flexbox */
.skillsGrid {
  display: flex;
  justify-content: space-between; /* Distribute space evenly */
  gap: 4rem; /* Add some gap between items */
  align-items: center; /* Vertically align items */
  flex-wrap: wrap; /* Allow wrapping on small screens */
}

.skillCard {
  text-align: center;
  width: 20%; /* Adjust width to fit within the container */
  flex-grow: 1;
  max-width: 250px; /* Set a maximum width for each skill card */
}

.skillCircle {
  position: relative;
  width: 180px;
  height: 180px;
  margin-bottom: 1.5rem;
}

.circleBackground {
  position: absolute;
  inset: 0;
  border: 4px solid rgb(252, 252, 252);
  border-radius: 50%;
}

.circleProgress {
  position: absolute;
  inset: 0;
  border: 4px solid #00AEAE;
  border-radius: 50%;
  box-shadow: 0 0 15px #008080;
  filter: drop-shadow(0 0 5px #00DCDC);
}

.skillIcon {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillIconFA {
  width: 135px;
  height: 135px;
  color: white;
  filter: drop-shadow(0 0 8px var(--primary-purple));
}

.skillName {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 0.5rem;
}

.skillPercentage {
  font-size: 1.25rem;
  color: #00AEAE;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .skillsGrid {
    gap: 2rem;
  }

  .skillCard {
    width: 45%; /* Adjust width for medium screens */
  }

  .skillCircle {
    width: 150px;
    height: 150px;
  }

  .skillIconFA {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .skillCard {
    width: 90%; /* Adjust width for smaller screens */
  }

  .skillCircle {
    width: 120px;
    height: 120px;
  }

  .skillIconFA {
    width: 50px;
    height: 50px;
  }

  .skillName {
    font-size: 1.25rem;
  }

  .skillPercentage {
    font-size: 1rem;
  }
}
